.newsletter {
  position: relative;
  height: 100vh;
  width: 100%;
  @include flex-rules(center, center, center, normal, row);

  &::before {
    content: "";
    background: transparent
    url("https://c-papabechtelou.github.io/first-template/assets/images/images/example-bg-newsletter--1920x580.jpg")
    0% 0% no-repeat padding-box;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
  }
}