<div class="row">
    <div class="col-12 col-lg-2 vel--footer-title has--white-font">
        <p>Get to know the Modelica Association Projects:</p>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item has--background-white">
        <div class="col-12 footer-image-item has--background-white">
            <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item has--background-white">
        <div class="col-sm-12 footer-image-item">
            <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
        </div>
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-6 vel--footer-spacer">
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-2 vel--footer-spacer">
    </div>
    <div class="col-4 col-lg-2 vel--footer-item has--background-white">
        <div class="col-12 footer-image-item">
            <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item has--background-white">
        <div class="col-12 footer-image-item">
            <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item has--background-white">
        <div class="col-12 footer-image-item">
            <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item has--background-white">
        <div class="col-12 footer-image-item">
            <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-12">
        <div class="hstack gap-1">
            <button type="button" class="btn has--white-link">
                <a href="#">Contact</a>
            </button>
            <div class="vr"></div>
            <button type="button" class="btn has--white-link">
                <a href="#">Legal Notice</a>
            </button>
            <div class="vr"></div>
            <button type="button" class="btn has--white-link">
                <a href="#">Data Privacy Policy</a>
            </button>
        </div>
    </div>
</div>

