<div class="row">
    <div class="col-12 col-lg-2 vel--footer-title has--white-font is--right is--bold me-8 p-0">
        <p>Get to know the Modelica Association Projects:</p>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item is--full-width-image">
                <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item is--full-width-image">
                <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-5 vel--footer-spacer">
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-2 vel--footer-spacer me-8">
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item is--full-width-image">
                <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item is--full-width-image">
                <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item is--full-width-image">
                <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item is--full-width-image">
                <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
</div>
<div class="row mt-4 pb-2">
    <div class="col-12 px-0">
        <hr/>
    </div>
</div>


<div class="row mt-1">
    <div class="col-12">
        <div class="hstack gap-1">
            <button type="button" class="btn has--white-link py-0">
                <a href="#">Contact</a>
            </button>
            <div class="vr"></div>
            <button type="button" class="btn has--white-link py-0">
                <a href="#">Legal Notice</a>
            </button>
            <div class="vr"></div>
            <button type="button" class="btn has--white-link py-0">
                <a href="#">Data Privacy Policy</a>
            </button>
        </div>
    </div>
</div>

