<div class="row">
    <div class="col-12 col-lg-2 vel--footer-title has--white-font text-start me-8 p-0">
        <p><strong>Get to know the Modelica Association Projects:</strong></p>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/logos_modelica-lang--color.svg">
                        <img src="{{site.url}}/assets/images/logos/logos_modelica-lang--color.svg"/>
                    </picture>
                </figure>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/logos_modelica-lib--color.svg">
                        <img src="{{site.url}}/assets/images/logos/logos_modelica-lib--color.svg"/>
                    </picture>
                </figure>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-5 vel--footer-spacer">
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-2 vel--footer-spacer me-8">
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/logos_dcp-std--color.svg">
                        <img src="{{site.url}}/assets/images/logos/logos_dcp-std--color.svg"/>
                    </picture>
                </figure>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/logos_ssp-std--color.svg">
                        <img src="{{site.url}}/assets/images/logos/logos_ssp-std--color.svg"/>
                    </picture>
                </figure>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/logos_fmi-std--color.svg">
                        <img src="{{site.url}}/assets/images/logos/logos_fmi-std--color.svg"/>
                    </picture>
                </figure>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
    <div class="col-4 col-lg-2 vel--footer-item p-0">
        <div class="row has--background-white has--rounded-border p-1 m-1">
            <div class="col-8 col-lg-5 vel--footer-image-item">
                <figure>
                    <picture>
                        <source srcset="{{site.url}}/assets/images/logos/logos_efmi-std--color.svg">
                        <img src="{{site.url}}/assets/images/logos/logos_efmi-std--color.svg"/>
                    </picture>
                </figure>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-lg vel--footer-spacer"></div>
            <div class="col-2 vel--icon"> -> </div>
        </div>
    </div>
</div>
<div class="row mt-4 pb-2">
    <div class="col-12 px-0">
        <hr/>
    </div>
</div>

