<div class="row vel--footer-projects">
    <div class="col-12 col-lg-3 text-white vel--footer-projects-intro">
        <p><strong>{{include.text}}</strong></p>
    </div>
    <div class="col-12 col-lg-9 vel--footer-projects-col">
        <div class="row vel--footer-projects-row is--row-first">
            {% for item in site.data.footerfirst %}
                <div class="col-12 col-lg-3">
                    <div class="vel--footer-project-item">
                        <a href="{{item.link}}" title="{{item.linktitle}}" target="_blank">
                            <figure>
                                <picture class="vel--footer-project-logo">
                                    <img src="{{ item.logo | relative_url }}"/>
                                </picture>
                            </figure>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row vel--footer-projects-row is--row-first">
            {% for item in site.data.footersecond %}
                <div class="col-12 col-lg-3">
                    <div class="vel--footer-project-item">
                        <a href="{{item.link}}" title="{{item.linktitle}}" target="_blank">
                            <figure>
                                <picture class="vel--footer-project-logo">
                                    <img src="{{ item.logo | relative_url }}"/>
                                </picture>
                            </figure>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
