.contact {
    background-image: url("#{$baseurl}/assets/images/images/example-bg-contact--1920x758.jpg");
    background-size: cover;

    .form-check {
        padding-left: 0;

        .form-check-input {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            float: none;
            margin: 0;
            position: absolute;

            + label {
                display: flex;
                align-items: center;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: $border-radius;
                    background-color: $white;
                    margin-right: 1rem;
                }
            }

            &:checked + label::before {
                background-image: radial-gradient($primary 9px, transparent 10px);
            }
        }
    }
}