.newsletter {
    background-image: url("#{$baseurl}/assets/images/images/example-bg-newsletter--1920x580.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-color: $white;
}