.vel--standardteaser {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1 * $grid-gutter-width/2;
    margin-bottom: -1 * $grid-gutter-width/2;

    .vel--teaser-item {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
    }

    .vel--teaser-item-wrap {
        border: 1px solid;
        padding: 2.25rem 2.5rem;
        height: 100%;
    }
    .vel--teaser-head {
        margin: -2.25rem -2.5rem 1.5rem -2.5rem;

        > a {
            display: block;
        }
    }
    .vel--teaser-body {
        .btn {
            margin-top: 1.5rem;
            width: 100%;
        }
    }
}

.vel--smallteaser {
    margin-top: -1 * $grid-gutter-width/2;
    margin-bottom: -1 * $grid-gutter-width/2;

    .vel--teaser-item {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
    }
    .vel--teaser-item-wrap {
        display: flex;
        border: 1px solid;
        height: 100%;
    }
    .vel--teaser-head {
        width: 40%;
        min-height: 280px;
        margin: -1px;

        > a {
            width: 100%;
            height: 100%;
            display: block;
        }
        picture {
            height: 100%;
        }
        .vel--teaser-image {
            height: 100%;
            object-fit: cover;
        }
    }
    .vel--teaser-body {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 3rem;
    }
}

.vel--smallteaser-vertical {
    margin-top: -1 * $grid-gutter-width/2;
    margin-bottom: -1 * $grid-gutter-width/2;

    .vel--teaser-item-wrap {
        height: 100%;
    }

    .vel--teaser-item {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
    }
    .vel--teaser-item-wrap {
        border: 1px solid;
        padding: 2.25rem 2.5rem 4rem 2.5rem;
    }
    .vel--teaser-head {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 3rem;
        height: 220px;

        > a {
            width: 100%;
            height: 100%;
            display: block;
        }
        picture {
            height: 100%;
        }
        .vel--teaser-image {
            height: 100%;
            object-fit: cover;
        }
    }
}

.vel--smallteaser-text {
    margin-top: -1 * $grid-gutter-width/2;
    margin-bottom: -1 * $grid-gutter-width/2;

    .vel--teaser-item-wrap {
        height: 100%;
    }
    .vel--teaser-item {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
    }
    .vel--teaser-item-wrap {
        height: 100%;
        border: 1px solid;
        padding: 2rem 2.5rem;
    }
}