.vel--footer-navigation {
    ul {
        display: flex;
        justify-content: center;
        margin: 2rem 0 0 0;

        li {
            a {
                font-weight: $font-weight-bold;
                color: $white;
                display: block;
                padding: 6px;
            }
            &:not(:last-child) a::after {
                content: "|";
                position: relative;
                right: -3px;
            }
        }
    }      
}
