.news-and-events {
  .vel--entry time {
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    max-width: 8.75rem;
    max-height: 8.13rem;
  }
  .vel--info {
  @include flex-rules(normal, center, center, normal, row);
    position: relative;
    &::after {
      content: '>';
      position: absolute;
      right:-5px;
      bottom:5px;
    }
  }
}