// linkbuttons
.is--download-button,
.is--external-button {
    display: block;
    font-weight: $font-weight-medium;
    text-decoration: underline;
}

.vel--btn-format-reset {
    appearance: none;
    border: none;
    background-color: initial;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.is--active {
    color: $theme-red-c8;
}
.btn {
    &:hover {
        color: $theme-red-c4;
    }
}
.btn-primary {
    &:hover {
        color:$white;
    }
}
