.is--active{
  color: $theme-red-c8;
}
.has--white-link a{
  color:$white;
}
.is--uppercase-link a, .is--btn-uppercase{
  text-transform: uppercase ;
}
.is--centered-link a{
  text-align: center ;
}
.has--underline a{
  text-decoration: underline;
}
.is--bold-link a{
  font-weight: $font-weight-bold;
}
