img {
    width:100%;
    height: auto;
}
figure {
    display: block;
    margin: 0;
}
picture {
    display: block;
}
h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
    display: block;
}