<div class="vel--section newsletter  py-9">
    <div class="container is--container-medium mb-4">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <{{include.htype}}{% if {{include.hclass}} %} class="{{include.hclass}}"{% endif %}>{{include.headline}}</{{include.htype}}>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-lg-6 col-xxxl-4 offset-lg-3  offset-xxxl-4 text-center">
                <p>
                    {{include.text}}
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-6 col-xxxl-4 offset-lg-3 offset-xxxl-4  px-3">
                <div class="form-floating">
                    <input type="email" class="form-control mb-2 ps-2" placeholder="E-Mail" id="floatingLabelEmail">
                    <label for="floatingLabelEmail" class="form-label ps-2">E-Mail</label>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary text-uppercase d-grid">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
