<div class="row">
    <div class="col-sm-12 association">
        <div class="row ">
            <div class="col-sm-4 offset-sm-4">
                <h3>About Modelica Association</h3>
            </div>
        </div>
        <div class="row">
            {% for item in site.data.association %}
            <div class="col-sm-4">
                <img src="{{site.url}}{{item.icon}}"/>
                <h5>{{item.title}}</h5>
                <p>{{item.info}}</p>
                <a href="{{site.url}}{{item.link}}">{{item.link-title}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>