<div class="row become-member">
    <div class="col-sm-12 member-background">
        <div class="row">
            <div class="col-sm-12 member-info">
                <div class="row">
                    <div class="col-sm-12 title">Become a member</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 info">Hier könnte ein Mosaik mit vielen Gesichtern dazu einladen, sich dem Verein anzuschließen.</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 link"> <a href="{{item.link}}" class="btn">BECOME A MEMBER</a></div>
                </div>
            </div>
        </div>
    </div>
</div>