<div class="row">
    <div class="col-sm-12 member-background">
        <div class="row">
            <div class="col-sm-6 offset-sm-2 member-info">
                <div class="row">
                    <div class="col-sm-8">Become a member</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">Hier könnte ein Mosaik mit vielen Gesichtern dazu einladen, sich dem Verein anzuschließen.</div>
                </div>
                <div class="row">
                    <div class="col-sm-8">BECOME A MEMBER</div>
                </div>
            </div>
        </div>
    </div>
</div>