<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <p>Get to know the Modelica Language and Libraries:</p>
            </div>
            <div class="col-sm-2">
                <img src="{{site.url}}/assets/images/modelica_lang.svg"/>
            </div>
            <div class="col-sm-2">
                <img src="{{site.url}}/assets/images/modelica_lang.svg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p>Get to know the Modelica Standards:</p>
            </div>
            <div class="col-sm-2">
                <img src="{{site.url}}/assets/images/modelica_lang.svg"/>
            </div>
            <div class="col-sm-2">
                <img src="{{site.url}}/assets/images/modelica_lang.svg"/>
            </div>
            <div class="col-sm-2">
                <img src="{{site.url}}/assets/images/modelica_lang.svg"/>
            </div>
            <div class="col-sm-2">
                <img src="{{site.url}}/assets/images/modelica_lang.svg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <a href="#">Contact</a> | <a href="#">Legal Notice</a> | <a href="#">Data Privacy Policy</a>
            </div>
        </div>
    </div>
</div>