<div class="row">
    <div class="col-sm-12 footer">
        <div class="row">
            <div class="col-sm-2  footer-item footer-text">
                <p>Get to know the Modelica Association Projects:</p>
            </div>
            <div class="col-sm-2 footer-item">
                <div class="col-sm-12 footer-image-item">
                    <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
                </div>
            </div>
            <div class="col-sm-2 footer-item">
                <div class="col-sm-12 footer-image-item">
                    <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 footer-item">
            </div>
            <div class="col-sm-2 footer-item">
                <div class="col-sm-12 footer-image-item">
                    <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
                </div>
            </div>
            <div class="col-sm-2 footer-item">
                <div class="col-sm-12 footer-image-item">
                    <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
                </div>
            </div>
            <div class="col-sm-2 footer-item">
                <div class="col-sm-12 footer-image-item">
                    <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
                </div>
            </div>
            <div class="col-sm-2 footer-item">
                <div class="col-sm-12 footer-image-item">
                    <img src="{{site.url}}/assets/images/modelica_brand.svg"/>
                </div>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <a href="#">Contact</a> | <a href="#">Legal Notice</a> | <a href="#">Data Privacy Policy</a>
            </div>
        </div>

    </div>
</div>