<div class="row">
    <div class="col-sm-12 header-img"><img src="/assets/images/gettyimages-82214615-2048x2048.png"/>
    </div>
    <div class="col-sm-6 offset-sm-3 header-overlay-container">
        <div class="row">
            <div class="col-sm-12">Open Standards</div>
        </div>
        <div class="row">
            <div class="col-sm-12">System Simulation</div>
        </div>
        <div class="row">
            <div class="col-sm-12">The Modelica Association is a non-profit, non-governmental organization with the aim of developing and promoting the Modelica modeling language for modelling, simulation and programming of physical and technical systems and processes. The Modelica Association owns and administrates incorporeal rights related to Modelica, including but not limited to trademarks, the Modelica Language Specification, Modelica Standard Libraries, etc., which should be generally available for the promotion of industrial development and research.n</div>
        </div>
    </div>
</div>