<div class="row">
    <div class="col-sm-12 header-img"><img src="{{ site.url }}/assets/images/gettyimages-82214615-2048x2048.png"/>
    </div>
    <div class="col-sm-6 offset-sm-3 header-overlay-container">
        <div class="col-12 headline"><div class="row">
            <div class="col-sm-12 row-1">Open Standards</div>
        </div>
            <div class="row">
                <div class="col-sm-12 row-2">for System Simulation</div>
            </div></div>

        <div class="row">
            <div class="col-sm-12 info">The Modelica Association is a non-profit, non-governmental organization with the aim of developing and promoting the Modelica modeling language for modelling, simulation and programming of physical and technical systems and processes.</div>
        </div>
    </div>
</div>