<figure>
    {% if {{include.url}} %}<a href="{{include.url}}" title="{{urltitle}}">{% endif %}
    <picture>
        {% if {{include.file1366}} %}
            <source srcset="{{include.file1366}}" media="(min-width: 1366px)">
        {% endif %}
        {% if {{include.file768}} %}
            <source srcset="{{include.file768}}" media="(min-width: 768px)">
        {% endif %}    
        <img class="{{include.class}}" src="assets/images/{{include.file}}" alt="{{include.alt}}" {% if {{include.max-width}} %}style="max-width: {{include.max-width}}px"{% endif %} />
        {% if {{include.caption}} %}
            <figcaption>{{include.caption}}</figcaption>
        {% endif %}
    </picture>
    {% if {{include.url}} %}</a>{% endif %}
</figure>