<div class="row">
    <div class="col-sm-6"><h3>Latest News</h3>

        <ul>
            {% for post in site.posts %}
            <li>
                <h2><a href="{{site.url}}{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
            </li>
            {% endfor %}
        </ul></div>
    <div class="col-sm-6"><h3>Upcoming Events</h3>

        <ul>
            {% for event in site.events %}
            <li>
                <h2><a href="{{site.url}}{{ event.url }}">{{ event.title }}</a></h2>
                {{ event.excerpt }}
            </li>
            {% endfor %}
        </ul></div>
</div>


