<div class="row news-and-events">
    <div class="row">
        <div class="col-sm-12 title"> News and Events</div>
    </div>
    <div class="row">
    <div class="col-sm-6 news">
        {% for news in site.categories.news reversed%}
        <a href="{{site.url}}{{ post.url }}">
            <div class="row entry">

                <time class="col-sm-3 date"> {{news.date | date: "%b %-d, %Y" }}</time>
                <div class="col-sm-9 info">{{ news.excerpt }}</div>
            </div>
        </a>
        {% endfor %}
       </div>
    <div class="col-sm-6 events">

            {% for event in site.categories.events reversed %}
        <a href="{{site.url}}{{ event.url }}">
            <div class="row entry">
                    <time class="col-sm-3 date">{{event.date | date: "%b %-d, %Y" }}</time>
                    <div class="col-sm-9 info">{{ event.excerpt }}</div>

            </div>
        </a>
            {% endfor %}
        </div>
    </div>
</div>


