/* ------------------- FOOTER ------------------- */
footer {
  .hstack {
    @include flex-rules(center, normal, center, normal, row);
  }

  .vr {
    color: $white;
    opacity: 1;
    height: $font-size-base;
    width: 2px;
    @include flex-rules(normal, normal, normal, center, row);
  }

  .vel--icon {
    color: $theme-red-c8;
    z-index: 1;
    font-size: 1.63rem; //todo: change to height when the icon is usable "font-size * spacer4"
    @include flex-rules(flex-end, center, center, normal, row);
  }
  .vel--footer-title{
    @include flex-rules(flex-end, center, center, normal, row);
  }
}