header{
  .vel--header-overlay{
    @include media-breakpoint-up(lg) {
      margin-top: -16.56rem;
    }

    .vel--title{
      span{
        font-weight: $font-weight-normal;
        display: block;
      }
    }
  }
}
