<div class="row">
    <div class="col-12 header-image p-0">
        <img src="https://c-papabechtelou.github.io/first-template/assets/images/gettyimages-82214615-2048x2048.png" class="img-fluid">
        <div class="row has--background-light me-0">
            <div class="col-10 col-lg-6 offset-sm-3 vel--header-overlay has--background-white py-5 ps-5 pe-9">
                <div class="col-12 vel--overlay-headline">
                    <div class="row">
                        <div class="col-12 vel--title m-0">
                            <h2>Open Standards
                                <span>for System Simulation</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 vel--overlay-info pt-1">
                        The Modelica Association is a non-profit, non-governmental organization
                        with the aim of developing and promoting the Modelica modeling language for modelling,
                        simulation and programming of physical and technical systems and processes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>