<a class="navbar-brand me-11 ms-2" href="#">
    <figure>
        <picture>
            <source srcset="{{site.url}}/assets/images/modelica_brand.svg">
            <img src="{{ site.url }}/assets/images/logos/logos_modelica-lang--color.svg"/>
        </picture>
    </figure>
</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-11 mt-7 mb-5" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in site.data.navigation %}
                <li class="nav-item me-5">
                    <a class="nav-link p-0 {% if page.url == item.link %}is--active{% endif %}" href="{{site.url}}{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
