<div class="row">
    <div class="col-12 vel--member-background">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card p-8">
                    <div class="row">
                        <div class="col-12 col-lg-8 vel--title has--red-headline mb-2">
                            <h2>Become a member</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-7 vel--info mt-2 mb-3">
                            <p>Hier könnte ein Mosaik mit vielen Gesichtern dazu einladen,
                                sich dem Verein anzuschließen.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-9 vel--link d-grid">
                            <a class="btn btn-primary text-uppercase has--white-font" href="{{item.link}}">Become a
                                member</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>