<div class="row">
    <div class="col-12 vel--member-background">
        <div class="row">
            <div class="col-12 col-lg-6 card">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-9 vel--title has--red-headline">
                            <h2>Become a member</h2>
                         </div>
                     </div>
                    <div class="row">
                        <div class="col-12 col-lg-9 vel--info">
                            <p>Hier könnte ein Mosaik mit vielen Gesichtern dazu einladen,
                                sich dem Verein anzuschließen.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 vel--link d-grid">
                            <button  type="button" class="btn btn-primary has--white-link is--uppercase-link">
                                <a href="{{item.link}}">BECOME A MEMBER</a>
                            </button>
                        </div>
                    </div></div>


            </div>
        </div>
    </div>
</div>