<div class="vel--section benefits has--background-dark pt-10 pb-5">
    <div class="container is--container-medium">
        <div class="row">

            <div class="col-12 col-lg-6 col-xxl-4 mb-8 mb-lg-0">
                <div class="card has--background-medium px-2 px-sm-5 pt-7 pb-7 pb-sm-9">
                    <div class="row">
                        <div class="col-12 vel--title mb-3">
                            <{{include.htype}}{% if {{include.hclass}} %} class="{{include.hclass}}"{% endif %}>{{include.headline}}</{{include.htype}}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 vel--info mb-3">
                            <p>
                                {{include.text}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 vel--link">
                            <a href="{{include.buttonlink}}" class="btn text-decoration-underline" title="{{include.buttontext}}">{{include.buttontext}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xxl-8 vel--quotes">
                {% for item in site.data.quotes limit:2 %}
                    <figure class="vel--quote-item">
                        <picture class="vel--quote-image">
                            <img src="{{item.image}}" class="rounded-circle">
                        </picture>
                        <div class="vel--quote-textwrap">
                            <blockquote class="vel--quote-text">
                                {{item.text}}
                            </blockquote>
                            <figcaption class="vel--quote-author">{{item.author}}</figcaption>
                        </div>
                    </figure>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
