<div class="row">
    <div class="col-12 vel--title">
        <h3>Kontakt</h3>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputName">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="exampleInputSurname" class="form-label">Surname</label>
                            <input type="email" class="form-control" id="exampleInputSurname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="exampleInputPhone" class="form-label">Phone number</label>
                            <input type="number" class="form-control" id="exampleInputPhone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="exampleInputMessage" class="form-label">Message</label>
                            <input type="textarea" class="form-control" id="exampleInputMessage">
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Yes, I agree to the data protection
                            agreement.</label>
                    </div>
                    <button type="submit" class="btn btn-primary is--btn-uppercase">Send</button>
                </form>
            </div>
        </div>

    </div>
</div>
