<div class="modal fade" id="modalStandard" tabindex="-1" aria-labelledby="modalVerticalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerticalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                    Suspendisse maximus convallis ex. Etiam eleifend velit leo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Action</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>