{%
    include header/header.html
%}

{%
    include header/mainnavigation.html
%}

<main class="layout--homepage">

    <div class="dev--layout-helper">
        Layout: homepage
    </div>

    <div class="vel--section introheader">
        <div class="container-fluid px-0">
            <div class="row mx-0">
                <div class="col-12 px-0 vel--introheader">
                    <figure class="vel--introheader-image">
                        <picture>
                            <source srcset="{{ '/assets/images/images/example-header-1920x584.jpg' | relative_url }}" media="(min-width: 992px)">
                            <source srcset="{{ '/assets/images/images/example-header-820x584.jpg' | relative_url }}" media="(min-width: 768px)">
                            <source srcset="{{ '/assets/images/images/example-header-375x584.jpg' | relative_url }}" media="(max-width: 767px)">
                            <img src="{{ '/assets/images/images/example-header-1920x584.jpg' | relative_url }}">
                        </picture>
                    </figure>
                    <div class="row mx-0 px-1 px-md-4 px-lg-0 vel--introheader-content">
                        <div class="col-12 col-lg-6 offset-lg-3 vel--header-overlay has--background-white py-5 ps-5 pe-9">
                            <div class="col-12 vel--overlay-headline">
                                <div class="row">
                                    <div class="col-12 vel--title m-0">
                                        <h1 class="h2">
                                            {{page.headline1}}
                                            <span>{{page.headline2}}</span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 vel--overlay-info pt-1">
                                    {{content}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    #################################################
    # Include Block
    # List of news and events
    # 3 latest posts
    #
    # @Data: News folder -> _posts -> latest md by date
    # @Data: Events folder -> _posts -> latest md md by date
    #
    # @Optional: headline | hclass
    # @Requires: -
    # @Requires if: htype if headline
    #################################################
    {% endcomment %}

    {%
        include teaser/newsAndEvents3posts.html
        headline="News and Events"
        htype="h2"
        hclass="h2"
    %}

    {% comment %}
    #################################################
    # Include Block
    # List of modelica standards
    #
    # @Data: _data/standards.yml
    #
    # @Optional: headline | hclass
    # @Requires: modalhtype | 
    # @Requires if: htype if headline
    #################################################
    {% endcomment %}

    {%
        include teaser/standards.html
        headline="Modelica Association Standards"
        htype="div"
        hclass="h2"
        itemhtype="h4"
        itemhclass=""
        modalhtype="h4"
        modalhclass=""
    %}

    {% comment %}
    #################################################
    # Include Block
    # List of modelica services
    #
    # @Data: _data/services.yml
    #
    # @Optional: headline | hclass | itemhclass
    # @Requires: itemhtype
    # @Requires if: htype if headline
    #################################################
    {% endcomment %}

    {%
        include teaser/services.html
        headline="Services"
        htype="h2"
        hclass=""
        itemhtype="h3"
        itemhclass=""
    %}

    {% comment %}
    #################################################
    # Include Block
    # Become member boilerplate
    #
    # @Data: -
    #
    # @Optional: -
    # @Requires: -
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include boilerplates/becomeMember.html
        headline="Become a member"
        htype="h2"
        hclass=""
        text="Hier könnte ein Mosaik mit vielen Gesichtern dazu einladen, sich dem Verein anzuschließen."
        buttonlink="community/become-a-member.html"
        buttontext="Become a member"
    %}

    {% comment %}
    #################################################
    # Include Block
    # benefits block with two quotes
    # 
    # @Data: Quotes > _data/quotes.yml
    #
    # @Optional: -
    # @Requires: headline, htype, hclass, text, buttonlink, buttontext
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include content/benefits.html
        headline="Modelica benefits"
        htype="h2"
        hclass="h3"
        text="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatemExcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem."
        buttonlink="about/benefits.html"
        buttontext="More about our benefits"
    %}

    {% comment %}
    #################################################
    # Include Block
    # use cases
    # 3 latest use cases
    # 
    # @Data: use-cases folder -> _posts -> latest md by date
    #
    # @Optional: -
    # @Requires: -
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include teaser/usecases3posts.html
    %}

    {% comment %}
    #################################################
    # Include Block
    # Newsletter subscription boilerplate
    #
    # @Data: -
    #
    # @Optional: -
    # @Requires: -
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include boilerplates/newsletter.html
        headline="Newsletter"
        htype="h2"
        hclass=""
        text="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem"
    %}

    {% comment %}
    #################################################
    # Include Block
    # About association teaser
    #
    # @Data: -
    #
    # @Optional: -
    # @Requires: -
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include teaser/association.html
        headline="About Modelica Association"
        htype="h2"
        hclass=""
    %}

    {% comment %}
    #################################################
    # Include Block
    # Members list
    #
    # @Data: -
    #
    # @Optional: -
    # @Requires: -
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include content/members.html
        headline="About Modelica Association"
        htype="h2"
        hclass=""
    %}

    {% comment %}
    #################################################
    # Include Block
    # Contact form
    #
    # @Data: -
    #
    # @Optional: -
    # @Requires: -
    # @Requires if: -
    #################################################
    {% endcomment %}

    {%
        include content/contactform.html
        headline="Contact"
        htype="h3"
        hclass=""
    %}

</main>

{%
    include footer/footer.html
%}