{%
    include header/header.html
%}

{%
    include header/mainnavigation.html
%}

<main class="layout--templateblocks">

    <div class="dev--layout-helper">
        Layout: templateblocks
    </div>

    <div class="vel--section py-10">
        <div class="container is--container-xsmall">
            <div class="row">
                <div class="col-12">

                    <h1>{{page.title}}</h1>

                    {{content}}

                </div>
            </div>
        </div>
    </div>

    <div class="vel--section py-10">
        <div class="container">
            <div class="row vel--standardteaser">
                <div class="col-12 col-lg-6 col-xl-4 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <figure class="vel--teaser-head has--hidden-figcaption">
                            <a href="" title="Linktitle">
                                <picture>
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 1366px)">
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 768px)">
                                    <img class="vel--teaser-image" src="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" alt="Alttext" />
                                </picture>
                            </a>
                            <figcaption>Figcaption</figcaption>
                        </figure>

                        <div class="vel--teaser-body">
                            <h3 class="h4 vel--teaser-body-head"><a href="" title="Linktitle">Headline</a></h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>

                    </div>
                    
                </div>

                <div class="col-12 col-lg-6 col-xl-4 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <figure class="vel--teaser-head has--hidden-figcaption">
                            <a href="{{ '/about/' | relative_url }}" title="Linktitle">
                                <picture>
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 1366px)">
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 768px)">
                                    <img class="vel--teaser-image" src="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" alt="Alttext" />
                                </picture>
                            </a>
                            <figcaption>Figcaption</figcaption>
                        </figure>

                        <div class="vel--teaser-body">
                            <h3 class="h4 vel--teaser-body-head"><a href="" title="">Headline</a></h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                            <a href="{{ '/about/' | relative_url }}" class="btn btn-outline-primary" target="_blank" title="Link zur website">
                                Link zur website
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="vel--section py-10">
        <div class="container">

            <h4>h4 - Library documentation</h4>
            <p>
                Library documentation<br/>
                Below you find some links to the library documentation provided by different tools
            </p>

            <div class="row vel--smallteaser mb-8">
                <div class="col-12 col-lg-6 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <figure class="vel--teaser-head has--hidden-figcaption">
                            <a href="{{ '/about/' | relative_url }}" title="Linktitle">
                                <picture>
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 1366px)">
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 768px)">
                                    <img class="vel--teaser-image" src="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" alt="Alttext" />
                                </picture>
                            </a>
                            <figcaption>Figcaption</figcaption>
                        </figure>

                        <div class="vel--teaser-body">
                            <p>
                                The HTML documentation of the latest release of the Modelica Standard Library can be found under: <a href="{{ '/about/' | relative_url }}" target="_blank" title="Link zur website">http://doc.modelica.org</a>.
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row vel--smallteaser-vertical mb-8">
                <div class="col-12 col-md-6 col-lg-4 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <figure class="vel--teaser-head has--hidden-figcaption">
                            <a href="{{ '/about/' | relative_url }}" title="Linktitle">
                                <picture>
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 1366px)">
                                    <source srcset="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" media="(min-width: 768px)">
                                    <img class="vel--teaser-image" src="{{ '/assets/images/images/example-news-a-536x290.jpg' | relative_url }}" alt="Alttext" />
                                </picture>
                            </a>
                            <figcaption>Figcaption</figcaption>
                        </figure>

                        <div class="vel--teaser-body">
                            <p>
                                The HTML documentation of the latest release of the Modelica Standard Library can be found under: <a href="{{ '/about/' | relative_url }}" target="_blank" title="Link zur website">http://doc.modelica.org</a>.
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row vel--smallteaser-text mb-8">
                <div class="col-12 col-md-6 col-lg-4 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <div class="vel--teaser-body">
                            <div class="h5">The Modelica Specification, version 3.5</div>
                            <p>
                                The Modelica Specification, version 3.5 (PDF format) and also externally as PDF and as HTML is the official definition of the Modelica language and includes the grammar, the semantic specification and a definition of the built-in operators.
                                <a href="{{ '/about/' | relative_url }}" class="is--download-button" target="_blank" title="Link zur website">http://doc.modelica.org</a>
                                <a href="{{ '/about/' | relative_url }}" class="is--download-button" target="_blank" title="Link zur website">http://doc.modelica.org</a>
                            </p>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-4 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <div class="vel--teaser-body">
                            <div class="h5">The Modelica Specification, version 3.5</div>
                            <p>
                                The development process of the Modelica specification is carried out on GitHub. To report issues with the language specification, please check on the GitHub issue tracker if something similar has already reported. If not, please open a new issue yourself.
                                <a href="{{ '/about/' | relative_url }}" class="is--external-button" target="_blank" title="Link zur website">To GitHub</a>
                                <a href="{{ '/about/' | relative_url }}" class="is--external-button" target="_blank" title="Link zur website">To GitHub issue tracker</a>
                            </p>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-4 vel--teaser-item">

                    <div class="vel--teaser-item-wrap">

                        <div class="vel--teaser-body">
                            <div class="h5">The Modelica Specification, version 3.5</div>
                            <p>
                                An overview article about the Modelica language, Modelica libraries, Modelica tools and the Modelica Association is available here (PDF format, 160 Kbyte). This version still refers to Modelica version 1.4, but works well as an introductory text.
                                <a href="{{ '/about/' | relative_url }}" class="is--download-button" target="_blank" title="Link zur website">Download Article PDF</a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</main>

{%
    include footer/footer.html
%}